body{
  background-color: bisque;
    font-family: "Righteous", sans-serif;
}
h1{
    font-size: 50px;
    font-family: "Pacifico", cursive;
}
h5{
    font-size: 20px;
    font-family: "Righteous", sans-serif;
}
.dotte{
    border-bottom: dotted 2px black;

}
.border-b{
    border-bottom:2px black solid
}