h1{
    font-family: "Imbue", serif;
    font-size: 90px;
    font-weight: 900;
}
p{
    font-size: 30px;
    font-weight: 500;
}
.btn-lg{
    --bs-btn-border-radius:0;
    --bs-btn-padding-y: 1.5rem;
    --bs-btn-padding-x: 4.5rem;
    --bs-btn-font-size: 1rem;
}

.btn-primary{
    --bs-btn-hover-bg:rgb(142, 122, 240);
}
#demo,#demo-2{
   background-color: rgb(223, 245, 245);
}